body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f8bbd0; /* Light Pink background color */
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content {
    text-align: center;
    max-width: 600px;
    animation: fadeInUp 1.5s ease-out; /* Fade-in animation */
}

.title {
    color: #e91e63; /* Pink color */
}

.subtitle {
    font-size: 18px;
    color: #880e4f; /* Dark Pink color */
}

.quote {
    font-style: italic;
    color: #d81b60; /* Darker Pink color */
}

.message {
    font-size: 20px;
    font-weight: bold;
    color: #ad1457; /* Darker Pink color */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.shape{
    position: fixed;
    width: 20px;
    height: 30px;
    background-color: #880e4f7c;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.shape1{
    position: fixed;
    width: 20px;
    height: 30px;
    background-color: #880e4f7c;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.l1{
    top: 20%;
    left: 41%;
    transition: all 3s;
    animation: move1 3s infinite;
}
@keyframes move1 {
    0%{

    }
    50%{
        transform: rotateZ(10deg) translate(2px);
    }
}
.l2{
    top: 20%;
    left: 41%;
    transition: all 3s;
    animation: move 3s infinite;
}
@keyframes move {
    0%{

    }
    50%{
        transform: rotateZ(-60deg) translate(-9px);
    }
}
.l3{
    top: 20%;
    left: 41%;
    transition: all 3s;
    animation: move3 3s infinite;
}
@keyframes move3 {
    0%{

    }
    50%{
        transform: rotateZ(-40deg) translate(-6px);
    }
}
.l4{
    top: 20%;
    left: 41%;
    transition: all 3s;
    animation: move4 3s infinite;
}
@keyframes move4 {
    0%{

    }
    50%{
        transform: rotateZ(-20deg) translate(-3px);
    }
}
.l5{
    top: 20%;
    left: 46%;
    transition: all 3s;
    animation: move5 3s infinite;
}
@keyframes move5 {
    0%{

    }
    50%{
        transform: rotateZ(60deg) translate(9px);
    }
}
.l6{
    top: 20%;
    left: 46%;
    transition: all 3s;
    animation: move6 3s infinite;
}
@keyframes move6 {
    0%{

    }
    50%{
        transform: rotateZ(40deg) translate(6px);
    }
}
.l7{
    top: 20%;
    left: 46%;
    transition: all 3s;
    animation: move7 3s infinite;
}
@keyframes move7 {
    0%{

    }
    50%{
        transform: rotateZ(20deg) translate(3px);
    }
}
.l8{
    top: 20%;
    left: 46%;
    transition: all 3s;
    animation: move8 3s infinite;
}
@keyframes move8 {
    0%{

    }
    50%{
        transform: rotateZ(-10deg) translate(-2px);
    }
}
.st{
    position: fixed;
    top: 23.5%;
    left: 44.5%;
    border-radius: 50%;
    width: 13px;
    height: 8px;
    background-color: rgba(9, 59, 3, 0.9);
}